<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, <span th:text="${name}"></span>!</h1>
    
    <a href="/store/logout">Logout</a>

    <h2>Your Orders :</h2>
    <ul>
        <li th:each="commande : ${commandes}">
           <a th:href="@{/store/commande/{commandeId}/articles(commandeId=${commande.id})}" th:text="${commande.title}"></a>
        </li>
    </ul>
    
    <br>
    <hr> 

    <h3>Add a new order :</h3>
    <form action="/store/addCommande" method="post">
        <label for="title">Order Title :</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
